@model CandidContributions.Core.Models.Shared.SideBySideTextViewModel
<section class="component has-background full-width" id="about">
    <div class="container">
        <div class="row">
            <div class="col-6 text">
                @Html.Raw(Model.TextLeft)
            </div>
            <div class="col-6 text">
                @Html.Raw(Model.TextRight)
            </div>
        </div>
    </div>
</section>